extends base

block content
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1.text-center
      //- h2 Welcome #{user.nickname}!
      //- br
      img.qrImage.text-center(src=`/messages/image/${message}` style='padding-bottom: 15px;')
      br
      img.qrImage.text-center.img-responsive(src="/img/stones.jpg")
